<html>
<head>
<style>
 header {
    
   
     height:80vh;
      min-height:400px;
      background-size:cover;
       background-image:url("https://upload.wikimedia.org/wikipedia/commons/d/df/Town_and_Country_fh000023.jpg"); 
  }
</style>
</head>
<header>

</header>
<body>
  <h1>About us</h1>
<div class="row">
	<div class="col-6">

<p>Evergreen lake Resort, Mahabaleshwar is a contemporary 5 star property designed to deliver a unique and luxurious hospitality experience in Mahabaleshwar which is popular with lot of tourists all over the country. For those who are living in Mumbai or Pune and looking for a weekend getaway, away from their hectic lifestyles and stressful work environment, a visit to this resort is the perfect way to de-stress, rejuvenate and revitalize.<br><br>

Ever Resort, Mahabaleshwar gives you more reasons than strawberries and cream to fall in love with this breath taking hill-station all over again. Dotted with colorful flowers and stunning landscaping coupled with the fabulous Mahabaleshwar weather and the resort’s hospitality all this add up to make a stay in Evershine Resort in Mahabaleshwar a perfect holiday for both corporate and tourists.</p>
<h2>How to reach us</h2>
<div class="card-deck">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>
     <div class="col-6">

     <img src="https://media.istockphoto.com/photos/view-of-the-sandy-beach-with-palm-trees-bora-bora-french-polynesia-picture-id1153371823">
 </div>
</div>
<div>
	<h1>Features</h1>
	<li>xxxxx</li>
	<li>yyyyy</li>

	</div>
</body>
</html>