<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjFdIrUZIaOhT8NFX9oujPs_PLpziVvRNEcgZ7c-wu3PtxSzXq-7FzI-SM4UCCL9L5HCM&usqp=CAU" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqoILl7K3EfrM6zibW2XvmQTKkUHSUB8NQD5SR8-QApoWwcvy6RCSxpBixeaxOJ6v8fhY&usqp=CAU" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/c0/50/44/brightland-resort-spa.jpg?w=900&h=-1&s=1" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <h3>Executive Room</h3>
<div class="row">
  <div class="col-8">
  
    <p>Superior rooms comes with an attached forest view at Lobby level and are fitted with a Queen size bed and all modern day comforts and amenities to make your stay memorable. Complimentary mineral water and a tea-coffee maker are provided in-room and Buffet Breakfast is part of the package offering.</p>
<div class="card" style="width: 50rem;">
  <div class="card-header">
    <h3>Room Description</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div> 
</div>

<div class="col-4">
  <div class="card-header" style="max-width: 18rem;">
    <h3>Room Facilities</h3>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>