
<html>
<head>
<style>
 header {
    
   
     height:80vh;
      min-height:400px;
      background-size:cover;
       background-image:url("https://upload.wikimedia.org/wikipedia/commons/d/df/Town_and_Country_fh000023.jpg"); 
  }
</style>
</head>
<body>
<header>
<div class="d-flex justify-content-center align-items-center h-100">

        <div class="text-black">

          <h1 class="mb-3">EVERGREEN LAKE RESORT</h1>
          <h4 class="mb-3">Subheading</h4>
          
        </div>
      </div>
</header>

<h1>why choose us?</h1>


<div class="card-deck">
	
  <div class="card">
    <img class="card-img-top" src="https://cdn4.explainthatstuff.com/og-large-swimming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://cdn4.explainthatstuff.com/og-large-swimming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn4.explainthatstuff.com/og-large-swimming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="card-deck">
	 <div class="card">
    <img class="card-img-top" src="https://cdn4.explainthatstuff.com/og-large-swimming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="https://cdn4.explainthatstuff.com/og-large-swimming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="https://cdn4.explainthatstuff.com/og-large-swimming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</body>
</html>